<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MasterCrafts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MasterCrafts</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="full" href="/easy-crochet">Beginner Challenge</ion-button>
    <ion-button expand="full" href="/med-crochet">Intermediate Challenge</ion-button>
    <ion-button expand="full" href="/hard-crocher">Expert Challenge</ion-button>
  </div>
</ion-content>
