<ion-header>
  <ion-toolbar>
    <ion-title>medCrochet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Intermediate Challenge</ion-card-subtitle>
      <ion-card-title>Stuffed Octopus</ion-card-title>
    </ion-card-header>

    <ion-card-content (click)="goToMedPattern()">
      This lovely pattern by Mollie Johnson, has you making a
      stuffed octopus to level up your skills. This pattern features
      multiple parts and the magic circle.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <div id="goBackButton">
    <ion-button (click)="goBackToHome()">Go Back</ion-button>
  </div>
</ion-content>