<ion-header>
  <ion-toolbar>
    <ion-title>Hard Challenge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="pattern">
  <ion-card>
    <ion-card-content>
      <div id="title">Wash Cloth</div>
      <ul>
        <li>Ch 26</li>
        <li>Row 1: Sc into the second ch from the hook and into each st across</li>
        <li>Row 2: Ch 1, turn. Sc into each st across</li>
        <li>Row 3: Ch 1, turn. Sc into each of the first 2 sts. *Sc into the next st, dc into the following st; repeat from
        *
        across. Sc into the last 3 sts</li>
        <li>Row 4: Ch 1, turn. Sc into the first st. *Sc into the next st, dc into the following st; repeat from * across.
        Sc into
        the last 2 sts.</li>
        <li>Row 5-29: Repeat rows 3 and </li>
        <li>Row 30-31: Ch 1, turn. Sc into each st across</li>
        <li>Cut yarn and tie off, weave in all ends.</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content id="equipNeeded">
  <ion-card>
    <ion-card-content>
      Equipment Needed:
      <ol>
        <li>Crochet Needle (5.5 mm)</li>
        <li>Yarn (any color)</li>
        <li>Scissors</li>
      </ol>
      Key:
      <ol>
        <li>Ch: chain</li>
        <li>Sc: single crochet</li>
        <li>St: stiches</li>
        <li>Dc: double crochet</li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <div id="goBackButton">
    <ion-button (click)="goBackToHome()">Click Me to Go Back</ion-button>
  </div>
</ion-content>
