<ion-header>
  <ion-toolbar>
    <ion-title>Medium Challenge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="pattern">
  <ion-card>
    <ion-card-content>
      <div id="title">Stuffed Octopus
        <br/> By Mollie Johnson
      </div>
      <ol>
        <li>Start Crocheting the Tentacles</li>
          <ul>Make a slip knot with a 12-inch tail and chain stitch 33. Starting 
            in the second chain stitch from the hook, work two single crochet in 
            each stitch. As you work across the row of stitches, the work will curl, 
            creating the tentacle shape.</ul>
        <li>Crochet the Second Tentacle</li>
            <ul>When you reach the last stitch of the starting chain, chain stitch 33. 

              Starting in the second chain stitch from the hook, work two single crochet in each stitch. When you reach the end of the stitches, in the middle of the tentacle piece, work one single crochet into the last stitch of the first tentacle section. This helps secure the sections.
              
              Cut the yarn, leaving a 12-inch tail, and pull the yarn through the last stitch to end off.</ul>
        <li>Finish the Tentacles</li>
              <ul>Make three more tentacle pieces, so you have a total
                of four sets and eight legs. Set these aside.
              </ul>
        <li>Start Crocheting the Octopus Body</li>
              <ul>
                Crochet the front and back body pieces as you would a flat circle. The bulkiness of the yarn and the number of stitches causes these circles to form cupped shapes. If you use a different yarn, the results may vary. If the circles end up more flat, that's OK! It just makes your octopus a little less spherical. 

Start the first octopus body piece with a magic circle. Each chain stitch at the start of a round counts as a single crochet. 
              </ul>
              <ol>
                Round 1: Six single crochet into the circle. Slip stitch to join.
                Round 2: Chain stitch one. One single crochet into the first stitch. * two single crochet in next stitch. Repeat from * to the end. Slip stitch to join. (12 stitches)
                Round 3: Chain stitch one. Two single crochet into the next stitch. * One single crochet. Two single crochet in the next stitch. Repeat from * to the end. Slip stitch to join. (18 stitches)
                Round 4: Chain stitch one. One single crochet. Two single crochet into the next stitch. * (One single crochet.) Two times. Two single crochet in the next stitch. Repeat from * to the end. Slip stitch to join. (24 stitches)
                Round 5: Chain stitch one. (One single crochet.) Two times. Two single crochet into the next stitch. * (One single crochet.) Three times. Two single crochet in the next stitch. Repeat from * to the end. Slip stitch to join. (30 stitches)
                Round 6: Chain stitch one. (One single crochet.) Three times. Two single crochet into the next stitch. * (One single crochet.) Four times. Two single crochet in the next stitch. Repeat from * to the end. Slip stitch to join. (36 stitches)
                
                Round 7: Chain stitch One. (One single crochet.) Four times. Two single crochet into the next stitch. * (One single crochet.) Five times. Two single crochet in the next stitch. Repeat from * to the end. Slip stitch to join. (42 stitches)
                Round 8: Chain stitch one. (One single crochet.) Five times. Two single crochet into the next stitch. * (One single crochet.) Six times. Two single crochet in the next stitch. Repeat from * to the end. Slip stitch to join. (48 stitches)
                End off the yarn.</ol>
        <li>Finish the Octopus Body Pieces</li>
        <ul>Make a second octopus body piece, but don't end off the yarn. Leave your hook in place or hold the active loop with a stitch marker. Weave in all the ends (except for the active yarn).</ul>
        <li>Sitch a Face on the Octopus</li>
        <li>Join the Body Pieces</li>
        <li>Attach the Tentacles</li>
        <li>Secure the Tentacle Yarn Ends</li>
        <li>Stuff the Octopus Toy</li>
        <li>Give your Octopus a Loving Home</li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content id="equipNeeded">
  <ion-card>
    <ion-card-content>
      Equipment Needed:
      <ol>
        <li>Crochet Hook (5.5 mm)</li>
        <li>75 yards blanket yarn (any color)</li>
        <li>Large Tapestry Needle</li>
        <li>Stitch Marker</li>
        <li>Stuffing</li>
        <li>1 yard back worsted weight yarn</li>
      </ol>
      Key:
      <ol>
        <li>Ch: chain</li>
        <li>Sc: single crochet</li>
        <li>St: stiches</li>
        <li>Dc: double crochet</li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <div id="goBackButton">
    <ion-button (click)="goBackToHome()">Click Me to Go Back</ion-button>
  </div>
</ion-content>>
